/* CSS declarations go here */

header {
	height: 80px;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0,0,0,.25);
	border-bottom: solid 1px rgba(0,0,0,.5);
	background-color: #535151;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#535151), to(#3b3939));
	background-image: -webkit-linear-gradient(top, #535151, #3b3939);
	background-image: -moz-linear-gradient(top, #535151, #3b3939);
	background-image: -o-linear-gradient(top, #535151, #3b3939);
	background-image: -ms-linear-gradient(top, #535151, #3b3939);
	background-image: linear-gradient(to bottom, #535151, #3b3939);	
	z-index:1;
}

#photofeed {
	float: left;
    width: 72%;
}
#sidebar {
    float: right;
    width: 27%;
}
.photo {
  width: 220px;
  float: left;
  margin-bottom: 10px;
}
.photo img {
  width: 100%;
}
.add-comment {
  display: none;
}
.photo:hover .add-comment {
  display: block;
}
.photocomment {
  float: left;
  width: 230px;
}

#footer {
	position: fixed;
	bottom: 5px;
	left: 5px;
}

/**** Masonry Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}