/* CSS declarations go here */

#banner {

}

#photofeed {
	float: left;
    width: 70%;
}
#sidebar {
    float: right;
    width: 30%;
}
.photo {
  width: 220px;
  float: left;
  margin-bottom: 10px;
}
.photo img {
  width: 100%;
}

#footer {
	position: fixed;
	bottom: 3px;
	left: 3px;
}

/**** Masonry Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}