/* CSS declarations go here */

#photofeed {
	float: left;
    width: 72%;
}
#sidebar {
    float: right;
    width: 27%;
}
#sidebarphotos {
  width: 100%;
}
.photo {
  width: 220px;
  float: left;
  margin-bottom: 10px;
}
.photo img {
  width: 100%;
}

.add-left-comment {
  display: none;
}

.highlighted .add-left-comment {
  display: block;
}

.add-comment {
  visibility: hidden;
}
.photo:hover .add-comment {
  visibility: visible;
}

.highlighted .add-comment {
  visibility: visible;
}

.sent-notice {
  visibility: hidden;
  color: orange;
}

.sent-notice-sent {
	visibility: visible;
}


.photocomment {
  float: left;
  width: 230px;
}

#footer {
	position: fixed;
	bottom: 5px;
	left: 5px;
}

/**** Masonry Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}